@font-face {
  font-family: 'RotondaC';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('../fonts/RotondaC.woff') format('woff');
}

@font-face {
  font-family: 'RotondaC';
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url('../fonts/RotondaC-Bold.woff') format('woff');
}

@font-face {
  font-family: 'ALSSchlangesans';
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url('../fonts/alsschlangesans-bold-webfont.woff2') format('woff2');
}
