// Colors
$color-main: #2856A8;
$color-contrast: #F1D02F;
$color-border: #D9D9D9;

$color-social-vk: #416DA1;
$color-social-ok: #EF8116;
$color-social-facebook: #414594;
$color-social-twitter: #3AAAE3;

$color-font-main: #484848;

// Font
$font-rotonda: 'RotondaC', 'Arial', sans-serif;
$font-ALS: 'ALSSchlangesans','Arial', sans-serif;
